<div class = "row">
  <div class = "black_card">
    What is Batman's guilty pleasure?
  </div>
</div>


    <ul class = "small-block-grid-5">
      <li class="white_card">Insane Clown Posse.</li>
      <li class="white_card">Grandiosa.</li>
      <li class="white_card">Like you, but not rogue-like you.</li>
      <li class="white_card">A Machinima contract.</li>
      <li class="white_card">Exactly what you'd expect.</li>
    </ul>
  </div>
  <ul class = "small-block-grid-5">
      <li class="white_card">A spider furry who doesn't even like bondage.</li>
      <li class="white_card">Lance Armstrong's missing testicle.</li>
      <li class="white_card">The realization that friendship is more important.</li>
      <li class="white_card">The Power Glove.</li>
      <li class="white_card">Yeast.</li>
    </ul>
  </div>
