<h2>Welcome to Cards Against Huge Manatee!</h2>


<form action = '/signin' method="post">
  <label for ="user">Enter your name: </label>
  <input type="text" name="user" id="user">
  <input type="submit">
</form>
