<h2>Welcome to Cards Against Huge Manatee!</h2>

<form action='/signin' method="post">
  <div>
    <label for="user">Enter your name: </label>
    <input type="text" name="user" id="user">
  </div>
  <div>
      <label for="game_id">Game ID: </label>
      <input type="text" name="game_id" id="game_id">
    </div>
  <input type="submit">
</form>
