<div class = "black_card">
  BLACK CARD
  <% #display black card %>
</div>

<div class = "white_cards">
  <% #for each white card in player's hand
  #create and print out a div of the white card class %>
  WHITE CARDS
</div>
