<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards Against Humanity</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <div class="columns small-12"
      <%= yield %>
    </div>

    <script src="/scripts/jquery-1.11.2.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
